.frontCard, .backCard {
    width: 100px;
    height: 150px;
}

#scoreBorder {
    width: 100%;
    display: flex;
    
}

#remainingTimeSpan, #remainingChanceSpan {
    flex: 1; /* 자식 요소가 동일한 너비를 가지도록 설정 */
}

body {
    background-image: url('../img/heaven.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}